<h1>New Product:</h1>
<form action="/products" method="post">
  <div>
  Name of product: <input type="text" name="name">
 </div>
 <div>
  Price: <input type="number" name="price">
 </div>
 <div>
 Inventory: <input type="number" name="inventory">
 </div>
 <div>
 Image Url: <input type="text" name="image_url">
 </div>
 <div>
 Description: <input type="text" name="description">
 </div>
 <div>
 Make Available? <input type="checkbox" checked value="yes" name="available">
 </div>
 <div>
 <input type="submit" value="Create Your Product">
 </div>

 </div>
 </form>